/* CustomDropdown.module.css */

.dropdownWrapper {
  position: relative;
  width: 200px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.dropdownTrigger {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--card-bg);
  color: var(--text);
  font-size: 16px;
}

.arrow {
  margin-left: 10px;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  background-color: white;
  background-color: red;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;

  /* padding: 0.6rem; */
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--card-bg);
  color: var(--text);
  font-size: 16px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #eee;
  background-color: var(--primary-light, #eee);
}

.active {
  font-weight: bold;
  background-color: var(--primary);
}