.bodyCss {
    background: var(--body-background);
}

.mainContent {

    display: flex;
    flex-direction: column;

    /* border: 2px solid red; */
    flex: 1 1 auto;
    /* padding: 1rem 1rem 1rem 0; */
    margin: 0;

    background: var(--bg);
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
}
